<head><div id="student_img"><%= link_to image_tag("st_img.jpg", :alt   => "h"),signs_path %></div></head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="question">
<%= @question.question %>

<%= form_for [@student, @question, @question_response] do |f| %>

	<%= f.radio_button :response, true, :checked => true %>
	<%= f.label :response, "Yes", :value => "true" %>
	<%= f.radio_button :response, false %>
	<%= f.label :response, "No", :value => "false" %>

	<%= f.submit "Next Question"%>

<% end %>
</div>



<div class="info">
<img src="<%=@question.info_image%>" height="200" width="200" alt="kids bullying"/>
<%= @question.info_text %>
</div>


<div class="story">
<%= @question.story_head %>
<%= @question.story_video %>
<%= @question.story_text %>
</div>

<footer><h1>hello</h1></footer>
