<head><div id="student_img"><%= link_to image_tag("st_img.jpg", :alt   => "h"),students_path %></div></head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="question">
<% if @question.id <10 %>
		<div class="question-num-9">Q#<%="#{@question.id}"%></div>
<% else %>
	<div class="question-num-10">Q#<%="#{@question.id}"%></div>
	<% end %>


<%= @question.question %>

<%= form_for [@student, @question, @question_response] do |f| %>

	<%= f.radio_button :response, true, :checked => true  %>
	<%= f.label :response, "Yes", :value => "true" %>
	<%= f.radio_button :response, false %>
	<%= f.label :response, "No", :value => "false" %>

	<%= f.submit ("Next Question"), :class => "submit-button" %>
	

<% end %>



<br>
<div class="info">
<img src="<%=@question.info_image%>" height="200" width="200" alt="kids bullying"/>
<%= @question.info_text %>
</div>
<br>


<div class="story">
<p class="storyhead"><%= @question.story_head %></p>
<br>
<iframe width="320" height="215"
src="<%=@question.story_video%>">
</iframe>
<p><%= @question.story_text %></p>
</div>

</div>

 <footer><div id="footer-wrap"><%= image_tag("student_footer.jpg", :alt => "student_footer") %></div></footer>



