<% if @student.errors.any? %>
<ul>
	<% @student.errors.full_messages.each do |err| %>
	<li><%= err %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @student do |f| %>
	<h3>What school level are you?</h3>
	<p><%= f.radio_button :age, "Elementary School", :checked => true %>
	<%= f.label :age, "Elementary School", :value => "Elementary School" %>
	<%= f.radio_button :age, "Middle School" %>
	<%= f.label :age, "Middle School", :value => "Middle School" %>
	<%= f.radio_button :age, "High School" %>
	<%= f.label :age, "High School", :value => "High School" %></p>
	
	<h3>Which region do you live in?</h3>
	<%= image_tag("student_location_map.png", :alt => "student map") %>
	<p><%= f.radio_button :location, "West Coast", :checked => true %>
	<%= f.label :location, "red", :value => "West Coast" %>
	<%= f.radio_button :location, "South" %>
	<%= f.label :location, "orange", :value => "South" %>
	<%= f.radio_button :location, "Mid West" %>
	<%= f.label :location, "blue", :value => "Mid West" %>
	<%= f.radio_button :location, "North East" %>
	<%= f.label :location, "green", :value => "North East" %></p>
	
	<h3>Have you ever been a victim of cyber bullying?</h3>
	<p><%= f.radio_button :victim, true, :checked => true %>
	<%= f.label :victim, "Yes", :value => "true" %>
	<%= f.radio_button :victim, false %>
	<%= f.label :victim, "No", :value => "false" %></p>
	
	
	<p><%= f.submit %></p>

<% end %>