<div id="student_img"><%= link_to image_tag("st_img.jpg", :alt   => "h"),students_path %></div><br/>
<br>
<br>
<br>
<br>
<h2><%= link_to "Try our interactive quiz and discover more!", new_student_path %> </h2>


<h3>Learn about cyberbullying from real people
and see how you can make a difference</h3>

<h3><%= link_to "Take a Selfie to Get Involved", sign_path("1")%></h3>
<br>





	<% @questions.each do |question| %>



		<div class="story">
		<p class="storyhead"><%= question.story_head %></p>
		<br>
		<iframe width="320" height="215"
		src="<%=question.story_video%>">
		</iframe>
		<p><%= question.story_text %></p>
		</div>

	<%end%>
