<div class="student">
<% if @student.errors.any? %>
<ul>
	<% @student.errors.full_messages.each do |err| %>
	<li><%= err %></li>
	<% end %>
	</ul>
<% end %>
<div id="student_img"><%= link_to image_tag("st_img.jpg", :alt   => "h"),signs_path %></div><br/>
<br>
<br>
<br>
<br>

<%= form_for @student do |f| %>
	<h3>What school level are you?</h3>
	<%= f.select :age, options_for_select([['Elementary School', 1], ['Middle School', 2], ['High School', 3]]) %>
	<h3>Which region do you live in?</h3>

	<div class="student_location">
	<%= image_tag("student_location_map.jpg", :alt => "student map") %>
	</div>

	<%= f.select :location, options_for_select([['Red', 1], ['Light Blue', 2], ['Dark Blue', 3], ['Green', 4],['Orange', 5], ['Pink', 6]]) %>

	
	<h3>Have you ever been a victim of cyber bullying?</h3>
	<%= f.select :victim, options_for_select([['Yes', true], ['No', false]]) %>
	
	<div class="new-student">
	<p><%= f.submit "Take The Quiz", :class => "student-button" %></p>
</div>
</div>
	<% end %>

