<div><%= link_to image_tag("sign_tag.jpg", :alt => "h"),signs_path %></div>
<!-- <%= link_to "News", 'http://news.railstutorial.org/' %> -->
<!-- <div><%= image_tag("sign_tag.jpg", :alt => "h") %></div> -->
<h3>Signs</h3>
<p><% @signs.each do |sign| %> <p>
<%=sign.sign_text%>
<%= form_tag sign_path(sign.id), method: "delete" do %>
<%= submit_tag("delete this sign")%>
<%end%>
<%end%>

<%= link_to "Adults", adults_path%><%=link_to(image_tag("image_tag.png"), adults_path)%>
<%= link_to "Students", new_student_path%><%=link_to(image_tag("image_tag2.png"), new_student_path)%>
