
<div><%= image_tag("sign_tag.jpg", :alt => "h") %></div>
<h3>Signs</h3>
<p><% @signs.each do |sign| %> <p>
<%=sign.sign_text%>
<%= form_tag sign_path(sign.id), method: "delete" do %>
<%= submit_tag("delete this sign")%>
<%end%>
<%end%>

<%= link_to "adults", adults_path%><%= image_tag("image_tag.png", :alt => "adult") %>
<%= link_to "students", students_path%><%= image_tag("image_tag2.png", :alt => "student") %>
<%= link_to "Join the movement", new_sign_path%>
