<!-- <div><%= link_to image_tag("sign_tag.jpg", :alt => "h"),signs_path %></div> -->
<!-- <%= link_to "News", 'http://news.railstutorial.org/' %> -->
<!-- <div><%= image_tag("sign_tag.jpg", :alt => "h") %></div> -->
<h3>I am: </h3>

<span id="adult-logo"><%=link_to(image_tag("image_tag.jpg"), adults_path)%></span>

<span id="students-logo"><%=link_to(image_tag("image_tag2.jpg"), students_path)%></span>

<br>
<br>
<h3><strong>SIGNS OF CHANGE</strong> is an initiative by USA Today and StopCyberBullying.org to shed light on the new face of bullying in America.</h3>

<h4>The <strong>student portal</strong> is designed for kids and young adults ages 9-18,
and features an interactive quiz, tips for dealing with tricky situations,
and help with handling conflicts.</h4>
<h4>The <strong>adult portal</strong> is designed for parents, teachers, and the general
public with content tailored to handling victims of cyberbullying and
teaching positive social interaction.</h4>
