<!DOCTYPE html>
<html>
<head>

  <div id="header-wrap"><%= link_to image_tag("sign_tag.jpg", :alt   => "h"),signs_path %></div>
  <title>SignsOfChange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header></header>
  <div class="container">
     
        <%= yield %>
        </div>
        
    
    </body>
 
</html>
